# ignore everything
/*

# whitelist
!.gitignore
!README.md

# cfg folder
!cfg/
cfg/*

# maps folder
!maps/
maps/*

#specifically include only these files
!cfg/server_copy.cfg
!cfg/motd.txt
!cfg/mapcycle.txt
!maps/cp_granary_pro_rc8.bsp
!maps/cp_gullywash_f4a.bsp
!maps/cp_metalworks_rc7.bsp
!maps/cp_process_f9a.bsp
!maps/cp_reckoner_rc2.bsp
!maps/cp_snakewater.bsp
!maps/cp_sunshine_rc9.bsp
!maps/koth_clearcut_b15d.bsp
!maps/koth_product_final.bsp
!maps/pl_badwater_pro_v12.bsp
