# ignore everything
/*

# whitelist
!.gitignore
!README.md

# cfg folder
!cfg/
cfg/*

# maps folder
!maps/

# but please exclude these subdirectories
maps/trash/
maps/graphs/
maps/workshop/

# sp source folder
!scripts_source/

# everything in here should be fine
!scripts_source/*


#specifically include only these files
!cfg/server_copy.cfg
!cfg/motd.txt
!cfg/mapcycle.txt

# too big
maps/koth_lazarus.bsp
maps/pl_frontier_final.bsp
maps/pl_upward.bsp
